langchain
langchain-google-genai
langchain-qdrant
langchain-huggingface
langchain-community
langchain-text-splitters
Pillow
sentence-transformers
qdrant-client
unstructured[all]
fastapi
uvicorn[standard]
python-dotenv
google-api-python-client
llama-index
llama-index-embeddings-google-genai
llama-index-llms-google-genai
llama-index-vector-stores-chroma
chromadb
pydantic
python-multipart
aiofiles
